{% extends 'base.html' %}

{% block title %}О системе - Шағым Qор{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">О системе Шағым Qор</h1>
            
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Наша миссия</h5>
                    <p class="card-text">
                        Система Шағым Qор создана для эффективного управления обращениями граждан и обеспечения 
                        прозрачности в работе государственных органов.
                    </p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Основные возможности</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Подача обращений через веб-интерфейс</li>
                        <li class="list-group-item">Отслеживание статуса обращений</li>
                        <li class="list-group-item">Получение уведомлений о статусе</li>
                        <li class="list-group-item">История всех обращений</li>
                        <li class="list-group-item">Интеграция с Telegram</li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Преимущества системы</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Удобный и понятный интерфейс</li>
                        <li class="list-group-item">Быстрая обработка обращений</li>
                        <li class="list-group-item">Прозрачность процесса</li>
                        <li class="list-group-item">Мгновенные уведомления</li>
                        <li class="list-group-item">Доступность 24/7</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 