{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Создание жалобы - Система обработки жалоб{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-12">
        <h2>Создание новой жалобы</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ complaint_form|crispy }}
                    
                    <div class="mt-4">
                        <h4>Прикрепить файлы</h4>
                        {{ media_form|crispy }}
                    </div>
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Создать жалобу</button>
                        <a href="{% url 'complaint_list' %}" class="btn btn-secondary">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 